.ritviz {
	background-image: url('../img/pronite/dp/ritviz.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.aakash {
	background-image: url('../img/pronite/dp/aakash.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.kautuk {
	background-image: url('../img/pronite/dp/kautuk.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.thex {
	background-image: url('../img/pronite/dp/thex.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.rooh {
	background-image: url('../img/pronite/dp/rooh.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.dhaiwat {
	background-image: url('../img/pronite/dp/dhaiwat.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
